.invoice-main{
  li{
    list-style: none;
    display: block;
    flex: 1;
    color: black;
  }

  .heading-content{

    li{
      font-weight: bold;
    }
  }

  .divider{
    border-color: black;
  }

}

.finance-control{
  .productCardInfo{
    height: 200px;
  }
}

.card-btn{
  button{
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;
    outline: none;

    &:hover{
      background-color: inherit;
      border-color: inherit;
    }
  }
  margin-bottom: 20px;
}

.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}

.flex-4{
  flex: 4;
}

.text-align-r{
  text-align: right;
}

.text-align-l{
  text-align: left;
}

.black-color{
  color: black;
  border-color: black;
}