@import "../../../components/styles/theme";
.goBack{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.card-control{
  padding: 20px;



  .account-inner-tab{
    background-color: darken($white-color, 2%);
    height: 100%;
    margin-left: -20px;
    border-right: 2px solid $primary-color;
    margin-right: 20px;
    padding-bottom: 40px;

    li{
      font-size: 14px;
      margin: 0;
      padding: 10px;
      color: darken($white-color, 60%);
      font-weight: 500;

      small{
        font-size: 10px;
        display: block;
      }

      &.active{
        background-color: $primary-color;
        color: $white-color;

        &>*{
          color: $white-color;
        }
      }
    }


  }

  .airtime-card{
    padding: 20px;
    border: 1px solid darken($white-color, 10%);
    margin-bottom: 20px;
    position: relative;

    .close{
      background: transparent;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }

  .select-control{
    ul{
      &>*{
        margin: 0 !important;
      }
    }
  }

  .item{
    flex: 1;

    .item-head{
      font-weight: 300;
      font-size: 15px;
      color: $primary-color;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    .image-con{
      width: 150px;
      height: 150px;
      background-color: darken($white-color, 10%);
      overflow: hidden;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  ul{
    li{
      font-weight: 300;
      font-size: 13px;
      color: $primary-color;
      margin-bottom: 10px;
      margin-top: 20px;
      cursor: pointer;

      span{
        margin-right: 10px;
      }
    }
  }



  .code-item{
    .header{
      font-weight: 300;
      font-size: 13px;
      color: $primary-color;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    li{
      list-style: none;
      display: inline-block;
      padding: 5px 30px;
      background-color: darken($white-color, 20%);
      margin-right: 10px;
      color: $white-color;
    }
  }
}